name: Build and Deploy Jekyll Site

on:
  push:
    branches:
      - main

jobs:
  jekyll:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7  # Compatible with Jekyll 3.x

      - name: Install dependencies
        run: |
          gem install bundler -v 2.4.22
          bundle _2.4.22_ install

      - name: Build site
        run: bundle _2.4.22_ exec jekyll build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
